<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3>Modal header</h3>
</div>

<div class="modal-body">
	<ul>
		<li>ID: <input type="text" name="id" value="{{id}}"></li>
		<li>Title: <input type="text" name="title" value="{{title}}"></li>
		<li>Author: <input type="text" name="author" value="{{author}}"></li>
		<li>Release date: <input type="text" name="releaseDate" value="{{releaseDate}}"></li>
		<li>Keywords: <input type="text" name="keywords" value="{{keywords}}"></li>
	</ul>
</div>
<div class="modal-footer">
	<button data-dismiss="modal" class="btn">Close</button>
	<button class="btn btn-primary btn-save">Save changes</button>
</div>
